@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground: 0, 16, 17; */
  --background: 242, 244, 243;
  --light-accent: 152, 202, 228;
  --foreground: 0, 160, 227;
  --dark-accent: 63, 159, 202;
  --text: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #32518c;
    --light-accent: #98cae4;
    --foreground: #50a0e3;
    --dark-accent: #3f9fca;
    --text: #f2f4f3;
  }
} */

body {
  color: rgb(var(--text));
  background-color: rgb(var(--background));
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bg-foreground {
    background-color: rgb(var(--foreground));
  }
  .bg-dark-accent {
    background-color: rgb(var(--dark-accent));
  }
  .bg-background {
    background-color: rgb(var(--background));
  }
  .text-foreground {
    color: rgb(var(--foreground));
  }
  .text-on-dark-accent {
    color: rgb(var(--background));
  }
  .text-dark-accent {
    color: rgb(var(--dark-accent));
  }
  .text-light-accent {
    color: rgb(var(--light-accent));
  }
  .shadow-foreground {
    /* box-shadow: 0 0 0 3px rgb(var(--foreground)); */
  
    /* add blur to color shadow */
    /* box-shadow: 0 0 0 3px rgba(var(--foreground), 0.4); */
    /* add more effect to this */
    /* box-shadow: 0 0 0 3px rgba(var(--foreground), 0.4), 0 0 0 6px rgba(var(--foreground), 0.2); */
    /* more effect pls */
    box-shadow: 0 0 0 3px rgba(var(--foreground), 0.4), 0 0 0 6px rgba(var(--foreground), 0.2), 0 0 0 9px rgba(var(--foreground), 0.1);
  }
}

.text-foreground {
  color: rgb(var(--foreground));
}

/* .text-dark-accent {
  color: var(--light-accent);
} */