@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 16, 17;
  --background: 250, 250, 250;
  --accent: 148, 28, 47;
  --text: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --backgroundbackground: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--text));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
