@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground: 0, 16, 17; */
  --background: 242, 244, 243;
  --light-accent: 152, 202, 228;
  --foreground: 0, 160, 227;
  --dark-accent: 63, 159, 202;
  --text: 0, 0, 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #32518c;
    --light-accent: #98cae4;
    --foreground: #50a0e3;
    --dark-accent: #3f9fca;
    --text: #f2f4f3;
  }
} */

body {
  color: rgb(var(--text));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-foreground {
  color: rgb(var(--foreground));
}

/* .text-dark-accent {
  color: var(--light-accent);
} */